<div class="flex flex-col items-center pb-4 pt-12 xl:px-12">
  <h2 class="font-bold">Journey</h2>
  <div class="relative container mx-auto px-6 flex flex-col space-y-8">
    <div
      class="absolute z-0 w-2 h-full bg-gray-200 dark:bg-dark-gray-4 shadow-md inset-0 left-17 md:mx-auto md:right-0 md:left-0"
    >
    </div>
    {% if config.extra.profile.journey is defined %}
        {% for item in config.extra.profile.journey %}
            <div class="relative z-10">
                <img
                  src="{{ get_url(path=item.image_url) }}"
                  alt="{{ item.title }}"
                  class="my-8 h-24 w-24 object-cover !rounded-full border-white dark:border-dark-gray-3 shadow-md border-4 xs:absolute md:mx-auto md:left-0 md:right-0"
                />
                <div class="relative pt-2 xs:pl-28 xs:my-8 md:w-1/2 {% if loop.index % 2 != 0 %}md:ml-auto md:pl-16{% else %}md:mr-auto md:pl-0 md:pr-16{% endif %}">
                  <div
                    class="absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-gray-200 dark:bg-dark-gray-4 xs:top-11 xs:left-26 {% if loop.index % 2 != 0 %}md:left-14{% else %}md:left-auto md:right-14{% endif %}"
                    aria-hidden="true"
                  ></div>
                  <span
                    class="
                    {% if item.part == 'Work' %}
                    !bg-rose-400 dark:!bg-rose-900
                    {% elif item.part == 'Study' %} 
                    !bg-blue-400 dark:!bg-blue-900
                    {% else %} 
                    !bg-teal-400 dark:!bg-teal-900
                    {% endif %}
                    right-1
                    {% if loop.index % 2 == 0 %}md:right-17{% endif %}
                    dark:text-white text-black py-1 px-2 md:py-0.5 md:px-1 lg:py-1 lg:px-2 rounded-md font-bold absolute left-auto top-3"
                  >
                    {{ item.part }}
                  </span>
                  <div class="bg-gray-200 dark:bg-dark-gray-4 px-6 pt-6 pb-3 rounded-md shadow-md">
                    <div
                      class="md:absolute min-w-full flex flex-col items-center justify-center
                      {% if loop.index % 2 != 0 %}
                      md:right-full md:top-4 md:pl-10 lg:pl-16 xl:pl-24
                      {% else %}
                      md:left-full md:top-4 md:pl-16 lg:pl-24
                      {% endif %}
                      "
                    >
                      <span class="font-bold text-sm tracking-wide self-start">
                          {{ item.date }}
                      </span>
                      <h3 class="my-0 text-2xl xs:text-xl sm:text-2xl lg:text-2xl md:text-lg font-bold pt-1 w-full">
                        {{ item.title }}
                      </h3>
                      <span class="font-bold text-sm tracking-wide self-start pb-1">
                          {{ item.address }}
                      </span>
                    </div>
                    <h4 class="my-0 text-2xl xs:text-xl sm:text-2xl md:text-xl font-bold pt-1 underline md:no-underline">
                        {{ item.sub_title }}
                    </h4>
                    <p class="pt-4">
                      {{ item.description }}
                    </p>
                  </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
  </div>
</div>
