{% import "macros.html" as macros %}
<!DOCTYPE html>
<html class="not-ready lg:text-base scroll-smooth" lang="{{ lang }}">
  {% include "partials/head.html" %}
  <body class="text-black duration-200 ease-out dark:text-white">
    {% include "partials/header.html" %}

    <!-- Body Start inject -->
    {% include "injects/body_start.html" ignore missing %}

    <main
      class="prose prose-neutral relative mx-auto min-h-[calc(100%-56px)] break-words px-4 pb-16 pt-32 dark:prose-invert prose-pre:rounded-lg prose-img:rounded-lg {% if current_path and current_path == '/' %} min-w-full{% endif %}"
    >
      {% block main %}
      <!-- Profile -->
      {% include "partials/profile.html" %}<!---->
      <div id="journey" class="prose prose-neutral mx-auto break-words px-4 pb-4 pt-12 dark:prose-invert prose-pre:rounded-lg prose-img:rounded-lg flex flex-col justify-items-center items-center bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px]">
        {% include "partials/skills.html" %}
      </div>
      {% include "partials/journey.html" %}
      {% endblock main %}
    </main>

    {% include "partials/footer.html" %}

    <!-- Body End inject -->
    {% include "injects/body_end.html" ignore missing %}
  </body>
</html>
